@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");

:root {
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --gray: hsl(0, 0%, 55%);
  --dark-gray: hsl(0, 0%, 41%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 15px;
  font-family: "Alata", sans-serif;
  font-weight: 400;
}

.header {
  width: 100%;
  background-image: url("./media/desktop/image-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 50px 20px;
  margin: 0 auto;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mobile-menu {
  display: none;
}

.nav-items {
  list-style: none;
  display: flex;
}

.nav-item {
  margin-right: 20px;
}

.nav-item:last-child {
  margin-right: 0;
}

.nav-link {
  text-decoration: none;
  color: var(--white);
  transition: all 0.4s ease-in-out;
}

.nav-link:hover {
  border-bottom: 1px solid var(--white);
}

.title {
  width: 45%;
  font-family: "Josefin Sans", sans-serif;
  font-size: 4rem;
  font-weight: 300;
  color: var(--white);
  text-transform: uppercase;
  padding: 20px;
  border: 1px solid var(--white);
  margin-top: 100px;
  margin-bottom: 70px;
}

@media screen and (max-width: 1078px) {
  .title {
    font-size: 3rem;
  }
}

@media screen and (max-width: 838px) {
  .title {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 716px) {
  .title {
    font-size: 2rem;
  }
}

@media screen and (max-width: 622px) {
  .logo {
    z-index: 1500;
  }
  .nav-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: var(--black);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1400;
    padding-left: 20px;
    transform: translateX(120%);
    transition: all 0.5s;
  }
  .nav-item {
    font-size: 1.5rem;
    font-family: "Josefin Sans", sans-serif;
    text-transform: uppercase;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .mobile-menu {
    display: block;
    cursor: pointer;
    position: relative;
    z-index: 1500;
  }
  .close {
    display: none;
  }
  .open.hamburger {
    display: none;
  }
  .open.close {
    display: block;
    z-index: 1500;
  }
  .open.nav-items {
    transform: translateX(0);
  }
  .title {
    width: 70%;
  }
}

@media screen and (max-width: 560px) {
  .header {
    background-image: url("./media/mobile/image-hero.jpg");
  }
}

@media screen and (max-width: 430px) {
  .title {
    width: 100%;
  }
}

/* HERO SECTION */

.hero-flex {
  display: flex;
  margin-top: 40px;
  align-items: flex-end;
}

.hero-img {
  max-width: 100%;
}

.hero-right {
  background-color: var(--white);
  padding-left: 50px;
  padding-top: 50px;
  transform: translateX(-100px);
}

.heading {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  font-size: 2.5rem;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.desc {
  color: var(--gray);
  font-weight: 400;
}

@media screen and (max-width: 990px) {
  .hero-img {
    width: 550px;
  }
  .heading {
    font-size: 2rem;
  }
}

@media screen and (max-width: 770px) {
  .hero-flex {
    flex-direction: column;
  }
  .hero-img {
    width: 100%;
  }
  .hero-right {
    transform: translateX(0);
    padding: 20px;
    text-align: center;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
  .heading {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 488px) {
  .hero-right {
    width: 100%;
  }
  .heading {
    font-size: 2.2rem;
  }
}
/* CREATIONS */

.mobile {
  display: none;
}

.creations-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
  margin-top: 50px;
}

.creations-header > .heading {
  margin-bottom: 0;
}

.btn {
  background-color: transparent;
  border: 1px solid var(--black);
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 12px;
  padding: 10px 25px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.btn:hover {
  background-color: var(--black);
  color: var(--white);
}

.creations-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 25px;
}

.grid-card {
  width: 100%;
  height: 420px;
  color: var(--white);
  text-transform: uppercase;
  padding: 20px;
  text-align: bottom;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.grid-card:hover {
  transform: scale(1.05);
}

.one {
  background-image: url("./media/desktop/image-deep-earth.jpg");
}

.two {
  background-image: url("./media/desktop/image-night-arcade.jpg");
}

.three {
  background-image: url("./media/desktop/image-soccer-team.jpg");
}

.four {
  background-image: url("./media/desktop/image-grid.jpg");
}

.four > .card-title {
  width: 40%;
}

.five {
  background-image: url("./media/desktop/image-from-above.jpg");
}

.six {
  background-image: url("./media/desktop/image-pocket-borealis.jpg");
}

.seven {
  background-image: url("./media/desktop/image-curiosity.jpg");
}

.eight {
  background-image: url("./media/desktop/image-fisheye.jpg");
}

.card-title {
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 2rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  width: 70%;
}

.attribution {
  margin-top: 40px;
  text-align: center;
}

.attribution > a {
  text-decoration: none;
  color: inherit;
  transition: all 0.4s ease-in-out;
}

.attribution > a:hover {
  border-bottom: 1px solid var(--dark-gray);
}
