@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");

:root {
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --gray: hsl(0, 0%, 55%);
  --dark-gray: hsl(0, 0%, 41%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 15px;
  font-family: "Alata", sans-serif;
  font-weight: 400;
}

.header {
  width: 100%;
  background-image: url("./media/desktop/image-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 50px 20px;
  margin: 0 auto;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mobile-menu {
  display: none;
}

.nav-items {
  list-style: none;
  display: flex;
}

.nav-item {
  margin-right: 20px;
}

.nav-item:last-child {
  margin-right: 0;
}

.nav-link {
  text-decoration: none;
  color: var(--white);
  transition: all 0.4s ease-in-out;
}

.nav-link:hover {
  border-bottom: 1px solid var(--white);
}

.title {
  max-width: 45%;
  font-family: "Josefin Sans", sans-serif;
  font-size: 4rem;
  font-weight: 300;
  color: var(--white);
  text-transform: uppercase;
  padding: 20px;
  border: 1px solid var(--white);
  margin-top: 100px;
  margin-bottom: 70px;
}
